.wrapper{
  margin: auto;
  width: 90%;
}
.main{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
  "box1 box2 picture picture"
  "box3 box4 picture picture"
  "box5 box6 picture picture"
  "box7 box8 box9 box10"
}
p span{
  margin-left: 10px;
}
.box1{
  grid-area: box1;
}
.box2{
  grid-area: box2;
}
.box3{
  grid-area: box3;
}
.box4{
  grid-area: box4;
}
.box5{
  grid-area: box5;
}
.box6{
  grid-area: box6;
}
.box7{
  grid-area: box7;
  margin-top: 20px;
}
.box8{
  grid-area: box8;
  margin-top: 20px;
}
.box9{
  grid-area: box9;
  margin-top: 20px;
}
.box10{
  grid-area: box10;
  margin-top: 20px;
}
.picture{
  grid-area: picture;
}
