.header{
  background: rgb(3, 105, 249);
  padding: 10px 30px 30px 30px;
  display:flex;
  justify-content: flex-end;
}
.header button{
  margin: 5px;
  padding: 3px 0px;
  width: 70px;
  border: none;
  text-align: center;
  border-radius: 5px;
  background: white;
}
.header button:hover{
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.name{
  color: white;
  font-size: 23px;
  padding: 3px 10px;
}