.searchcontainer{
  background: rgb(240, 240, 240);
}
.search{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(4, 1fr);
  
  padding:0 20px 20px 20px;
}
.searchitem{
  background: white;
  padding: 20px 10px;
}
.searchbutton{
  background: rgb(3, 105, 249);
  color: white;
  padding: 20px 10px;
  text-align: center;
}